@import 'jeet'

.note-viewer
  center(50vw)
  background-color white

  ul
    list-style-type none
    padding-left 0
    margin 0 auto
    max-height calc(100vh - 70px)
    overflow scroll

  li
    border-bottom 1px solid alpha(green, 60%)
    padding 1em
    background alpha(green, 10%)

    small
      color alpha(black, 50%)
      cursor pointer
      float right
      transition color 200ms linear

      &:hover
        color alpha(red, 80%)
